.billing {
    padding: 10pt;
    text-align: center;
    margin-top: 10%;
}

.generatebill {
    text-align: center;
}

.grandtotal {
    text-align: right;
    font-size: 120%;
    margin-right: 5%;
}

.billForm {
    margin-left: 10%;
    margin-right: 10%;
}

.billDiv {
    width: 80%;
    height: 100%;
    border: 2px solid black;
    margin: auto;
    padding: 10pt;
    margin-bottom: 3%;
}

.billGeneratedDiv {
    width: 80%;
    height: auto;
    border: 2px solid black;
    margin: auto;
    margin-top: 10px;
    padding: 20pt;
    font-size: 100%;
}

.billData tr td {
    text-align: center;
    padding: 10px;
}

.input {
    width: 100%;
    font-size: 100%;
}

.addItem {
    margin-left: 3%;
    margin-right: 3%;
    border: 1px solid gray;
    padding: 2%;
}

.addItem .input {
    width: 45%;
    margin-left: 3%;
    font-size: 115%;
}

.type {
    font-size: 80%;
    font-weight: 500;
    color: #7b1fa2;
}

.itemInput {
    border: 2px solid black;
    width: 50%;
}

input:disabled {
    color: black;
}

.addBtn {
    margin-left: 7.5%;
    width: 30%;
    font-size: 120%;
}