.billing{
    padding: 10pt;
    text-align: center;
    margin-top: 10%;
}

.box{
    display: inline-block;
    border: 2pt solid black;
    margin: 10pt;
    padding: 10pt;
    height: 10pt;
    width: 100pt;
}