<div *ngIf="!generatedBill">
    <div class="center">
        <h2>Billing Area</h2>
    </div>
    <div class="billDiv">
        <form class="billForm" [formGroup]="billForm">

            <mat-form-field class="input">
                <input matInput type="number" placeholder="Customer Mobile Number" formControlName="mobileNo"
                    (change)="findUser()" (keyup)="findUser()">
            </mat-form-field>
            <div *ngIf="added && billForm.controls.mobileNo.invalid">
                <span class="error">*Customer Mobile Number is required</span>
            </div>

            <br>
            <mat-form-field class="input">
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <div *ngIf="added && billForm.controls.name.invalid">
                <span class="error">*Name is required</span>
            </div>

            <br>
            <mat-form-field class="input">
                <span class="type">Type</span>
                <mat-select formControlName="type">
                    <mat-option value="guest">Guest</mat-option>
                    <mat-option value="primary">Primary</mat-option>
                </mat-select>
            </mat-form-field>

            <br>
            <mat-form-field class="input">
                <input matInput placeholder="Email" formControlName="email"
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
            </mat-form-field>
            <div *ngIf="added && billForm.controls.email.invalid">
                <span class="error">*Email is required</span>
            </div>
            <br>

        </form>

        <div class="addItem">

            <p>Enter item details -</p>

            <mat-form-field class="input">
                <input matInput placeholder="Item Id" [(ngModel)]="itemid" type="number" min="1" (change)="setItem()"
                    (keyup)="setItem()">
            </mat-form-field>

            <mat-form-field class="input">
                <input matInput placeholder="Quantity" [(ngModel)]="quantity" type="number" min="1"
                    (change)="setPrice()" (keyup)="setPrice()">
            </mat-form-field>

            <mat-form-field class="input">
                <input matInput placeholder="Price/Item" [(ngModel)]="price" type="text" disabled>
            </mat-form-field>

            <mat-form-field class="input">
                <input matInput placeholder="Total" [(ngModel)]="totalprice" type="number" disabled>
            </mat-form-field>

            <mat-form-field class="input">
                <input matInput placeholder="Item Name" [(ngModel)]="name" type="text" disabled>
            </mat-form-field>

            <input type="button" value="Add" [disabled]="totalprice === undefined" (click)="addItemtolist()"
                class="addBtn">
        </div>

        <div *ngIf="added && billForm.valid">
            <div class="tableDiv">

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

                    <ng-container matColumnDef="itemid">
                        <th mat-header-cell *matHeaderCellDef class="tableHead"> Item Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.itemsPurchaseId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="tableHead"> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef class="tableHead"> Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef class="tableHead"> Quantity </th>
                        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="totalprice">
                        <th mat-header-cell *matHeaderCellDef class="tableHead"> Total Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.price * element.quantity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef class="tableHead"> Delete</th>
                        <td mat-cell *matCellDef="let element">
                            <button (click)="deleteItem(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="trHover"></tr>

                </table>

            </div>
            <br>
            <div class="grandtotal">
                <span>Grand Total : <strong>{{total}} </strong></span>
            </div>
            <br>
            <div class="generatebill">
                <button mat-raised-button (click)="generateBill()">Generate Bill</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="generatedBill">
    <div id="billGeneratedDiv" class="billGeneratedDiv">
        <h2>Bill No. : {{generatedBill.billId}}</h2>
        <div class="userInfo">
            <p> <strong>Mobile No. : </strong>{{generatedBill.user.mobileNo}}</p>
            <p> <strong>Name : </strong>{{generatedBill.user.name}}</p>
            <p> <strong>Email : </strong>{{generatedBill.user.email}}</p>
        </div>
        <br>
        <div class="billData">
            <table>
                <tr>
                    <th>Item Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>

                <tr *ngFor="let item of generatedBill.itemsPurchase">
                    <td>{{item.itemsPurchaseId}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.totalprice}}</td>
                </tr>

            </table>
        </div>
        <div style="height: 30pt; margin-right: 50pt">
            <p style="float: right; font-size: 120%;">
                <strong>Grand Total : </strong>
                {{generatedBill.grandTotal}}
            </p>
        </div>
    </div>
    <div style="padding-left: 10%; margin: 2%;">
        <button (click)="printBill()">Print</button>
        <!-- <button (click)="cencelBill()">Cancel</button> -->
        <button (click)="nextBill()">Next</button>
    </div>
</div>