<h1 mat-dialog-title>Forget Paswword</h1>
<div class="forgetModal">
    <div mat-dialog-content>
        <mat-form-field class="input">
            <input matInput [(ngModel)]="data.userId" placeholder="User ID">
        </mat-form-field>
        <div *ngIf="send && !data.userId">
            <span class="error">User Id is required</span>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="getPassword()">Send Password</button>
        <button mat-button [mat-dialog-close]="data.userId" (click)="cancel()">Cancel</button>
    </div>
    <span class="message">The password will be send to you register email.</span>
</div>