<div class="nav">
  <ul>
    <label *ngIf="logged">
      <li class="other"><a routerLinkActive="active" routerLink="/home">Home</a></li>
      <li class="other"><a routerLinkActive="active" routerLink="/billing">Billing</a></li>
      <li class="other"><a routerLinkActive="active" routerLink="/inventory">Inventory</a></li>
      <li class="other"><a routerLinkActive="active" routerLink="/search">Search</a></li>
      <li class="logout" (click)="logout()"> <a routerLink="">Logout</a> </li>
    </label>
  </ul>
</div>
