<h1 mat-dialog-title>Customer Deatils</h1>
<mat-dialog-content>
    <div>
        <table cellpadding="2">
            <tr>
                <td><strong>Name : </strong></td>
                <td>
                    <span>{{CUSTOMERDATA.name}}</span>
                    <!-- <mat-icon class="primary" *ngIf="CUSTOMERDATA.primary">done</mat-icon> -->
                    <mat-icon class="primary" *ngIf="CUSTOMERDATA.customerType === 'primary'">done</mat-icon>
                </td>
            </tr>

            <tr>
                <td><strong>Mobile No. : </strong></td>
                <td><span>{{CUSTOMERDATA.mobileNo}}</span></td>
            </tr>

            <tr>
                <td><strong>Email : </strong></td>
                <td><span>{{CUSTOMERDATA.email}}</span></td>
            </tr>

            <tr>
                <td><strong>Address : </strong></td>
                <td><span>{{CUSTOMERDATA.address}}</span></td>
            </tr>

            <tr>
                <td><strong>Pincode : </strong></td>
                <td><span>{{CUSTOMERDATA.pincode}}</span></td>
            </tr>
        </table>


        <strong> Bills : </strong><br><br>

        <table mat-table [dataSource]="billSource" class="mat-elevation-z8 table">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="tableHead"> Bill Id </th>
                <td mat-cell *matCellDef="let element"> {{element.billId}} </td>
            </ng-container>

            <ng-container matColumnDef="dateOfPurchase">
                <th mat-header-cell *matHeaderCellDef class="tableHead"> Date Of Purchase </th>
                <td mat-cell *matCellDef="let element"> {{this.service.moment(element.dateOfPurchase)}} </td>
            </ng-container>

            <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef class="tableHead"> Discount </th>
                <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
            </ng-container>

            <ng-container matColumnDef="items">
                <th mat-header-cell *matHeaderCellDef class="tableHead"> Items </th>
                <td mat-cell *matCellDef="let element"> {{element.itemsPurchase.length}} </td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef class="tableHead">Total Price </th>
                <td mat-cell *matCellDef="let element"> {{element.total}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" class="trHover"></tr>

        </table>
    </div>
</mat-dialog-content>
<mat-dialog-content>
    <button style="float: right; margin-top: 5%" (click)="cancel()">Cancel</button>
</mat-dialog-content>