.searchInput {
    text-align: right;
    margin-right: 5%;
}

.tableDiv {
    padding: 3%;
}

.table {
    font-size: 103%;
    color: black;
}

.tableHead {
    color: grey;
    font-size: 105%;
    background-color: white;
}

.trHover:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}