<h1 mat-dialog-title>Inventory Deatils</h1>
<mat-dialog-content>
    <div>
        <span *ngIf="inventoryId" class="inventoryId">
            Item Id : {{inventoryId}}
        </span>
        <form [formGroup]="inventoryForm">
            <table>
                <tr>
                    <td class="tableInput"><label>Item Name</label> </td>
                    <td class="tableInput"><input type="text" formControlName="name"></td>
                </tr>
                <tr>
                    <td class="tableInput"><label>Quantity</label> </td>
                    <td class="tableInput"><input type="number" formControlName="quantity"></td>
                </tr>
                <tr>
                    <td class="tableInput"><label>Price</label> </td>
                    <td class="tableInput"><input type="number" formControlName="price"></td>
                </tr>
                <tr>
                    <td class="tableInput"><label>Discount</label> </td>
                    <td class="tableInput"><input type="number" formControlName="discount"></td>
                </tr>
                <tr>
                    <td class="tableInput"><label>Type</label> </td>
                    <!-- <td class="tableInput"><input type="text" formControlName="type"></td> -->
                    <td class="tableInput">
                        <select formControlName="type">
                            <option value="" selected disabled hidden> {{defaultType}} </option>
                            <option *ngFor="let key of keys" [value]="itemIype[key]">{{itemIype[key]}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tableInput"><label>Expiry date</label> </td>
                    <td class="tableInput"><input type="date" formControlName="expiryDate"></td>
                </tr>
            </table>
        </form>
    </div>
    <button style="margin-top: 5%" (click)="itemFunction()">
        {{inventoryId ? 'Update Item' : 'Add Item'}}
    </button>
    <button style="float: right; margin-top: 5%" (click)="cancel()">Cancel</button>
</mat-dialog-content>