@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body {
    height: 100%;
}

body {
    background: url('assets/image/cool-background.jpg');
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: "Helvetica Neue", sans-serif; */
}

.center {
    text-align: center;
    margin-top: 2.5%
}

input[type="text"] {
    width: 100%;
}

.button, button, input[type="submit"], input[type="button"] {
    border: none;
    font-size: 105%;
    padding: 3pt 12pt;
    margin: 5pt;
    text-align: center;
    text-decoration: none;
    border: 1.5pt solid black;
    border-radius: 3pt;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.tableDiv {
    padding: 5%;
}

table {
    width: 100%;
    margin-bottom: 20pt;
    padding: 10pt;
    padding-bottom: 0pt;
}

a {
    text-decoration: none !important;
    color: black;
}

.error {
    color: red;
    font-size: 85%;
    font-style: italic;
}

.primary {
    color: green;
    margin-left: 2%;
}

.searchInput {
    text-align: right;
    margin-right: 5%;
}

.tableDiv {
    padding: 3%;
}

.table {
    font-size: 103%;
    color: black;
}

.tableHead {
    color: grey;
    font-size: 105%;
    background-color: white;
}

.trHover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.trHover:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}